@page "/login"
@layout LoginLayout
@rendermode InteractiveServer
@using Locadora_Auto.Front.Components.Layout
@using Locadora_Auto.Front.Models.OAuth
@using Locadora_Auto.Front.Services.Servicos.Login
@inject ILoginService LoginService
@inject NavigationManager Navigation

<h3 class="mb-3">Entrar no Sistema</h3>

<form method="post" action="/auth/login">
    <div class="mb-3">
        <label>Email</label>
        <input class="form-control" name="username" />
    </div>

    <div class="mb-3">
        <label>Senha</label>
        <input type="password" class="form-control" name="password" />
    </div>

    <button type="submit" class="btn btn-primary">
        Entrar
    </button>
</form>

@if (!string.IsNullOrEmpty(erro))
{
    <div class="alert alert-danger mt-2">@erro</div>
}

@code {
    private LoginRequest model = new();
    private string? erro; 
}
